<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.smdapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".SMDMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".DeclaracaoActivity"
            android:label="@string/title_activity_declaracao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NoticiasAgregadorActivity" />
        <activity
            android:name=".LerNoticiaActivity"
            android:label="@string/title_activity_ler_noticia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TesteFormulario" />
        <activity android:name=".NovaDeclaracaoActivity" />
        <activity android:name=".DeclaracaoFormularioActivity" />
        <activity android:name=".VerificarUsuarioActivity" />
        <activity android:name=".CadastrarUsuarioActivity"></activity>
    </application>

</manifest>